.cursor {
    display: inline-block;
    width: 3px;
    height: 0.9em;
    background: linear-gradient(to top, rgba(15, 157, 88, 0), rgba(244, 180, 0, 0.5), rgba(219, 68, 55, 1), rgba(66, 133, 244, 1));
    margin: 0 4px 0 0;
    /* Right margin for spacing from text */
    vertical-align: text-bottom;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(66, 133, 244, 0.6);
    filter: blur(0.2px);
    animation: blink 2s step-end infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.selectedText {
    background-color: #a8c7fa;
    /* Google Blue 200/300ish */
    color: #202124;
}